 .inside .pplayout {
  display: inline-block;
  vertical-align: top;
  width: 160px;
  margin-bottom: 30px;
}

.inside .pplayout img {
  display: block;
  padding-left: 25px;
}

.team-thumb .remove-screenshot{
 background: #2ea2cc;
 border:1px solid #0074a2;
 webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
 box-shadow: inset 0 1px 0 rgba(120,200,230,.5),0 1px 0 rgba(0,0,0,.15);
 color: #fff;
 text-decoration: none;
 padding: 0px 6px;
 border-radius: 3px;
 display: block;
 width: 60px;
 line-height: 26px;
 height: 28px;
 text-align: center;
 margin-top: 10px;
}

.apbasic-header {
  background: #5e5e5e;
  padding: 10px 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: 4px solid #dc3522;
  margin-bottom: 10px;
}

.apbasic-header .apbasic-logo {
  float: left;
}

.apbasic-header .apbasic-title{
  float: right;
  color: #fff;
  font-size: 20px;
}

.trans-row {
  margin-bottom: 10px;
}

.trans-row label {
  width: 20%;
  float: left;
}

td.single-post-page  .trans-row span {
  float: left;
  display: inline-block;
  width: 80%
}

td.single-post-page input{
  width: 75% !important;
}

td.single-post-page input.posted_on_text,td.single-post-page input.by_text{
  width: 25% !important;
  display: inline-block;
}

td.single-post-page input.by_text{
  margin-left: 10px;
}




/** New added **/
/* Defines styles for upsell page */
/*--------------------------------------------------------------
 0.0 - Bootstrap variables and mixins
 --------------------------------------------------------------*/
 * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-size: 14px;
  line-height: 1.42857;
  color: #333333;
  background-color: white;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #428bca;
  text-decoration: none;
}
a:hover, a:focus {
  color: #2a6496;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

figure {
  margin: 0;
}

img {
  vertical-align: middle;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-rounded {
  border-radius: 6px;
}

.img-thumbnail {
  padding: 4px;
  line-height: 1.42857;
  background-color: white;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.img-circle {
  border-radius: 50%;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container-fluid:before, .container-fluid:after {
  content: " ";
  display: table;
}
.container-fluid:after {
  clear: both;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:before, .row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

.col-xs-1 {
  width: 8.33333%;
}

.col-xs-2 {
  width: 16.66667%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-4 {
  width: 33.33333%;
}

.col-xs-5 {
  width: 41.66667%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-7 {
  width: 58.33333%;
}

.col-xs-8 {
  width: 66.66667%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-10 {
  width: 83.33333%;
}

.col-xs-11 {
  width: 91.66667%;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-pull-1 {
  right: 8.33333%;
}

.col-xs-pull-2 {
  right: 16.66667%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-4 {
  right: 33.33333%;
}

.col-xs-pull-5 {
  right: 41.66667%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-7 {
  right: 58.33333%;
}

.col-xs-pull-8 {
  right: 66.66667%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-10 {
  right: 83.33333%;
}

.col-xs-pull-11 {
  right: 91.66667%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-push-1 {
  left: 8.33333%;
}

.col-xs-push-2 {
  left: 16.66667%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-4 {
  left: 33.33333%;
}

.col-xs-push-5 {
  left: 41.66667%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-7 {
  left: 58.33333%;
}

.col-xs-push-8 {
  left: 66.66667%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-10 {
  left: 83.33333%;
}

.col-xs-push-11 {
  left: 91.66667%;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-offset-0 {
  margin-left: 0%;
}

.col-xs-offset-1 {
  margin-left: 8.33333%;
}

.col-xs-offset-2 {
  margin-left: 16.66667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.33333%;
}

.col-xs-offset-5 {
  margin-left: 41.66667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.33333%;
}

.col-xs-offset-8 {
  margin-left: 66.66667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.33333%;
}

.col-xs-offset-11 {
  margin-left: 91.66667%;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  .col-sm-1 {
    width: 8.33333%;
  }

  .col-sm-2 {
    width: 16.66667%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.33333%;
  }

  .col-sm-5 {
    width: 41.66667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.33333%;
  }

  .col-sm-8 {
    width: 66.66667%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.33333%;
  }

  .col-sm-11 {
    width: 91.66667%;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-pull-0 {
    right: auto;
  }

  .col-sm-pull-1 {
    right: 8.33333%;
  }

  .col-sm-pull-2 {
    right: 16.66667%;
  }

  .col-sm-pull-3 {
    right: 25%;
  }

  .col-sm-pull-4 {
    right: 33.33333%;
  }

  .col-sm-pull-5 {
    right: 41.66667%;
  }

  .col-sm-pull-6 {
    right: 50%;
  }

  .col-sm-pull-7 {
    right: 58.33333%;
  }

  .col-sm-pull-8 {
    right: 66.66667%;
  }

  .col-sm-pull-9 {
    right: 75%;
  }

  .col-sm-pull-10 {
    right: 83.33333%;
  }

  .col-sm-pull-11 {
    right: 91.66667%;
  }

  .col-sm-pull-12 {
    right: 100%;
  }

  .col-sm-push-0 {
    left: auto;
  }

  .col-sm-push-1 {
    left: 8.33333%;
  }

  .col-sm-push-2 {
    left: 16.66667%;
  }

  .col-sm-push-3 {
    left: 25%;
  }

  .col-sm-push-4 {
    left: 33.33333%;
  }

  .col-sm-push-5 {
    left: 41.66667%;
  }

  .col-sm-push-6 {
    left: 50%;
  }

  .col-sm-push-7 {
    left: 58.33333%;
  }

  .col-sm-push-8 {
    left: 66.66667%;
  }

  .col-sm-push-9 {
    left: 75%;
  }

  .col-sm-push-10 {
    left: 83.33333%;
  }

  .col-sm-push-11 {
    left: 91.66667%;
  }

  .col-sm-push-12 {
    left: 100%;
  }

  .col-sm-offset-0 {
    margin-left: 0%;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }

  .col-sm-offset-2 {
    margin-left: 16.66667%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66667%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-7 {
    margin-left: 58.33333%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66667%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-10 {
    margin-left: 83.33333%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66667%;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  .col-md-1 {
    width: 8.33333%;
  }

  .col-md-2 {
    width: 16.66667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33333%;
  }

  .col-md-5 {
    width: 41.66667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33333%;
  }

  .col-md-8 {
    width: 66.66667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33333%;
  }

  .col-md-11 {
    width: 91.66667%;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-pull-0 {
    right: auto;
  }

  .col-md-pull-1 {
    right: 8.33333%;
  }

  .col-md-pull-2 {
    right: 16.66667%;
  }

  .col-md-pull-3 {
    right: 25%;
  }

  .col-md-pull-4 {
    right: 33.33333%;
  }

  .col-md-pull-5 {
    right: 41.66667%;
  }

  .col-md-pull-6 {
    right: 50%;
  }

  .col-md-pull-7 {
    right: 58.33333%;
  }

  .col-md-pull-8 {
    right: 66.66667%;
  }

  .col-md-pull-9 {
    right: 75%;
  }

  .col-md-pull-10 {
    right: 83.33333%;
  }

  .col-md-pull-11 {
    right: 91.66667%;
  }

  .col-md-pull-12 {
    right: 100%;
  }

  .col-md-push-0 {
    left: auto;
  }

  .col-md-push-1 {
    left: 8.33333%;
  }

  .col-md-push-2 {
    left: 16.66667%;
  }

  .col-md-push-3 {
    left: 25%;
  }

  .col-md-push-4 {
    left: 33.33333%;
  }

  .col-md-push-5 {
    left: 41.66667%;
  }

  .col-md-push-6 {
    left: 50%;
  }

  .col-md-push-7 {
    left: 58.33333%;
  }

  .col-md-push-8 {
    left: 66.66667%;
  }

  .col-md-push-9 {
    left: 75%;
  }

  .col-md-push-10 {
    left: 83.33333%;
  }

  .col-md-push-11 {
    left: 91.66667%;
  }

  .col-md-push-12 {
    left: 100%;
  }

  .col-md-offset-0 {
    margin-left: 0%;
  }

  .col-md-offset-1 {
    margin-left: 8.33333%;
  }

  .col-md-offset-2 {
    margin-left: 16.66667%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-4 {
    margin-left: 33.33333%;
  }

  .col-md-offset-5 {
    margin-left: 41.66667%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-7 {
    margin-left: 58.33333%;
  }

  .col-md-offset-8 {
    margin-left: 66.66667%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-10 {
    margin-left: 83.33333%;
  }

  .col-md-offset-11 {
    margin-left: 91.66667%;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }

  .col-lg-1 {
    width: 8.33333%;
  }

  .col-lg-2 {
    width: 16.66667%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33333%;
  }

  .col-lg-5 {
    width: 41.66667%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33333%;
  }

  .col-lg-8 {
    width: 66.66667%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.33333%;
  }

  .col-lg-11 {
    width: 91.66667%;
  }

  .col-lg-12 {
    width: 100%;
  }

  .col-lg-pull-0 {
    right: auto;
  }

  .col-lg-pull-1 {
    right: 8.33333%;
  }

  .col-lg-pull-2 {
    right: 16.66667%;
  }

  .col-lg-pull-3 {
    right: 25%;
  }

  .col-lg-pull-4 {
    right: 33.33333%;
  }

  .col-lg-pull-5 {
    right: 41.66667%;
  }

  .col-lg-pull-6 {
    right: 50%;
  }

  .col-lg-pull-7 {
    right: 58.33333%;
  }

  .col-lg-pull-8 {
    right: 66.66667%;
  }

  .col-lg-pull-9 {
    right: 75%;
  }

  .col-lg-pull-10 {
    right: 83.33333%;
  }

  .col-lg-pull-11 {
    right: 91.66667%;
  }

  .col-lg-pull-12 {
    right: 100%;
  }

  .col-lg-push-0 {
    left: auto;
  }

  .col-lg-push-1 {
    left: 8.33333%;
  }

  .col-lg-push-2 {
    left: 16.66667%;
  }

  .col-lg-push-3 {
    left: 25%;
  }

  .col-lg-push-4 {
    left: 33.33333%;
  }

  .col-lg-push-5 {
    left: 41.66667%;
  }

  .col-lg-push-6 {
    left: 50%;
  }

  .col-lg-push-7 {
    left: 58.33333%;
  }

  .col-lg-push-8 {
    left: 66.66667%;
  }

  .col-lg-push-9 {
    left: 75%;
  }

  .col-lg-push-10 {
    left: 83.33333%;
  }

  .col-lg-push-11 {
    left: 91.66667%;
  }

  .col-lg-push-12 {
    left: 100%;
  }

  .col-lg-offset-0 {
    margin-left: 0%;
  }

  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }

  .col-lg-offset-2 {
    margin-left: 16.66667%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-4 {
    margin-left: 33.33333%;
  }

  .col-lg-offset-5 {
    margin-left: 41.66667%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-7 {
    margin-left: 58.33333%;
  }

  .col-lg-offset-8 {
    margin-left: 66.66667%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-10 {
    margin-left: 83.33333%;
  }

  .col-lg-offset-11 {
    margin-left: 91.66667%;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }
}
/************************************************************************************************************/
/********************************************* WP FIXES *****************************************************/
/************************************************************************************************************/
body {
  background-color: transparent;
}

ul, ol {
  margin: 0;
  padding: 0;
}

/************************************************************************************************************/
/********************************************* STYLING ******************************************************/
/************************************************************************************************************/
#upsell_container a {
  text-decoration: none;
}

#upsell_header {
  margin-bottom: 30px;
  text-align: center;
}

.theme-container {
  margin-bottom: 40px;
}
.theme-container .theme-image img {
  padding: 3px;
  border: 5px solid #aaaaaa;
}

.image-container {
  position: relative;
  overflow: hidden;
  border: 1px solid #cccccc;
}
.image-container img {
  max-width: 100%;
}

.theme-exists {
  margin-left: 10px;
}

.theme-name {
  float: left;
}

.no-left-margin {
  margin-left: 0px !important;
}

.theme-details {
  padding: 10px;
  height: 50px;
  border-top: 1px solid #cccccc;
  background: none repeat scroll 0 0 #ffffff;
  font-size: 18px;
}
.theme-details.active {
  background: none repeat scroll 0 0 #2B5F87;
  color: #fff;
}

.preview {
  margin-right: 3px !important;
}

#response {
  display: none;
}

/********* theme description style ***********/
.theme-description {
  position: absolute;
  top: 100%;
  left: 0;
  overflow: auto;
  box-sizing: border-box;
  padding: 0;
  max-width: 100%;
  height: 100%;
  border-top: 5px solid #FFFFFF;
  border-right: 5px solid #ffffff;
  border-left: 5px solid #FFFFFF;
  background-color: #000000;
  color: #ffffff;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  -webkit-transition-delay: 500ms;
  -moz-transition-delay: 500ms;
  -ms-transition-delay: 500ms;
  -o-transition-delay: 500ms;
  transition-delay: 500ms;
}

.image-container:hover .theme-description {
  top: 0;
  display: block;
  padding: 0 15px;
  opacity: 0.8;
}

.theme-description p {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
}


/*User stick note*/
.user_sticky_note {
  background-color: #fff;
  padding: 4px;
  border: 2px solid #FDFE4D;
}

h3.sticky_title {
  font-size: 22px !important;
  margin-top: 12px;
  margin-bottom: 11px;
}

span.sticky_info_row {
  display: block;
  line-height: 23px;
}

label.row-element {
  font-weight: bold;
}

label.row-element.more-detail{
  color: #ff0000;
}
.user_sticky_note a:hover{
  color: #f00;
}

.customize-text_editor_desc a {
  background-color: #428bca;
  padding: 5px;
  color: #fff;
  border-radius: 5px;
  margin: 5px 0;
  display: inline-block;
  transition:all ease 0.3s;
  -webkit-transition:all ease 0.3s;
  -moz-transition:all ease 0.3s;
}
.customize-text_editor_desc a:hover {
  background-color: #fff;
  color: #428bca;
}
.customize-text_editor_desc span {
  background-color: #fff;
  color: #428bca;
  padding: 5px;
  margin: 5px 0;
  display: inline-block;
}

.upgrade-pro{
  background-color: #428bca;
  color: #FFF !important;
  font-size: 12px;
  padding: 5px;
  line-height: 1;
  display: block;
  margin-top: 6px;
  text-align: center;
}

.sticky_info_row .button{
  width: 100%;
  margin: 2px 0;
  text-align: center;
}
.sticky_info_row a {
  color: #428bca;
}

.upgrade-pro{
  background-color: #428bca;
  color: #FFF !important;
  font-size: 12px;
  padding: 2px;
  line-height: 1;
  display: block;
  margin-top: 6px;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
.upgrade-pro-demo{
  background-color: #428bca;
  color: #FFF !important;
  font-size: 20px;
  line-height: 1;
  display: block;
  margin-top: 6px;
  text-align: center;
  padding: 10px;
  box-shadow: 0 0 5px #fff inset;
  border-radius: 12px;
  font-weight: bolder;
  /*width: 90%;*/
  margin: 0 auto;
}
.upgrade-pro-demo:hover{
  color: #428bca !important;
  background: #fff;
  box-shadow: 0 0 5px #428bca inset;  
}
.sticky_info_row .button{
  width: 100%;
  margin: 2px 0;
  text-align: center;
}
.notice-up{
  background: #fff;
  padding: 10px;
}
.notice-bottom {
  padding: 12px;
}

span.customize-text_editor_desc a.red {
  background: #f00;
  color:#fff;
}

span.customize-text_editor_desc a.red:hover {
  color: #f00;
  background: #fff;
}


/** New Tab About Us */
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.aglee-lite-wrap .text-wrap {
  width: 56%;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}
.aglee-lite-wrap .logo-wrap {
  width: 30%;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}
.aglee-lite-wrap .logo-wrap img{
  max-width: 100%;
}
.aglee-lite-wrap .text-wrap .about-description, .aglee-lite-wrap .text-wrap .about-text {
  margin-top: 1.4em;
  font-weight: 400;
  line-height: 1.6em;
  font-size: 19px;
}
.aglee-lite-wrap .text-wrap h1 {
  margin: .2em 70px 0 0;
  padding: 0;
  color: #32373c;
  line-height: 1.2em;
  font-size: 2.8em;
  font-weight: 400;
}
.aglee-lite-wrap .text-wrap .about-text {
  margin: 1em 70px 1em 0;
  min-height: 60px;
  color: #555d66;
}
ul.aglee-lite-tab-wrapper {
  display: inline-block;
  width: 22%;
  vertical-align: top;
}
.aglee-lite-content-wrapper {
  display: inline-block;
  width: 77%;
  vertical-align: top;
  padding-left: 20px;
}
.aglee-lite-wrap .bottom-block {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  width: 98%;
}
.aglee-lite-tab-wrapper li a {
  padding: 10px;
  background: #eee;
  font-size: 15px;
  color: #0085ba;
  display: block;
  text-decoration: none;
  outline: none;
}
.aglee-lite-tab-wrapper li a:focus{
  box-shadow: none;
}
.aglee-lite-tab-wrapper li a.aglee-lite-tab.aglee-lite-tab-active {
  background: #0085ba;
  color: #fff;
}

.aglee-lite-tab-wrapper li {
  position: relative;
}
.aglee-lite-tab-wrapper li:before {
  content: "";
  border-top: 19px solid #fff;
  border-left: 20px solid transparent;
  position: absolute;
  right: 0;
  top: 0;
}
.aglee-lite-tab-wrapper li:after {
  content: "";
  border-bottom: 19px solid #fff;
  border-left: 20px solid transparent;
  position: absolute;
  right: 0;
  bottom: 0;
}
.aglee-lite-wrap .col.plugin_box {
  width: 33%;
  display: inline-block;
}
.aglee-lite-wrap .col.plugin_box img {
  max-width: 50%;
}
.aglee-lite-content-wrapper .col.plugin_box {
  width: 30.66%;
  display: inline-block;
  margin: 1%;
  vertical-align: top;
  background: #eee;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  padding: 0;
}
.aglee-lite-wrap span.author-name {
  position: absolute;
  left: 0;
  top: 20px;
  background: rgba(0, 133, 186, 0.7);
}
.aglee-lite-wrap .plugin_box > p {
  margin: 0;
  padding: 20px 0;
}
.aglee-lite-wrap span.author-name a {
  color: #fff;
  padding: 5px 10px;
  display: block;
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.aglee-lite-wrap span.plugin_name {
  font-size: 16px;
  display: block;
  line-height: 22px;
  border-bottom: 1px solid #ddd;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 20px 10px 20px;
}
.aglee-lite-wrap span.version {
  float: left;
  margin-top: 5px;
}
.aglee-lite-wrap span.action_button {
  float: right;
}
.aglee-lite-wrap .b-wrap {
  background: #fff;
  padding: 10px 20px;
  clear: both;
  display: table;
  width: 100%;
  box-sizing: border-box;
}
.aglee-lite-wrap .featured-section.changelog h4 {
  margin-bottom: 5px;
}
.aglee-lite-content-wrapper .col {
  width: 32.66%;
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  vertical-align: top;
}
.aglee-lite-content-wrapper .col i.dashicons {
  font-size: 3em;
  width: auto;
  height: auto;
}
.aglee-lite-tab-wrapper li a.aglee-lite-tab.more-wp {
    color: #cc444d;
}
.aglee-lite-content-wrapper .cols > span {
    font-weight: 700;
    font-size: 16px;
    text-decoration: underline;
    color: #0085ba;
    margin-top: 20px;
    display: block;
}
.aglee-lite-wrap span.recommended {
    position: absolute;
    right: -34px;
    top: 15px;
    transform: rotate(45deg);
    background: #cc444d;
    color: #fff;
    padding: 5px 35px;
}
.featured-section.changelog {
  margin-top: -30px;
}
.demo > img {
    max-width: 100%;
}
.warning-msg {
    background: #f5f5f5;
    padding: 20px;
    border-top: 3px solid #ff9c08;
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 20px;
    font-style: italic;
}
.demoinstall-title-btn-wrap h4 {
    margin: 0;
    color: #333;
}
@media screen and (max-width:1083px) {
  .aglee-lite-content-wrapper {
    width: 69%;
  }
  ul.aglee-lite-tab-wrapper {
    width: 30%;
  }
  .aglee-lite-content-wrapper .col {
    width: 100%;
    text-align: left;
  }
  .aglee-lite-wrap .text-wrap h1 {
    font-size: 25px;
  }
  .text-wrap .about-description, .text-wrap .about-text {
    font-size: 16px;
  }
  .logo-wrap {
    width: 39%;
  }
  .bottom-block {
    width: 98%;
    margin: 0 auto;
  }
  .aglee-lite-content-wrapper .col.plugin_box {
    width: 47%;
  }
}
@media screen and (max-width:800px) {
  ul.aglee-lite-tab-wrapper {
    width: 100%;
  }
  .aglee-lite-tab-wrapper li {
    display: inline-block;
  }
  .aglee-lite-tab-wrapper li:before, .aglee-lite-tab-wrapper li:after {
    display: none;
  }
  .aglee-lite-content-wrapper {
    width: 100%;
    padding-left: 0;
    margin-top: 10px;
  }
  .bottom-block, .text-wrap, .logo-wrap {
    width: 98%;
    margin: 0 auto;
  }
  .aglee-lite-wrap .text-wrap h1 {
    font-size: 20px;
  }
  .text-wrap .about-description, .text-wrap .about-text {
    font-size: 14px;
  }
}
@media screen and (max-width:480px) {
  .aglee-lite-content-wrapper .col.plugin_box {
    width: 98%;
  }
}